header {
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to right, #0A192F 80%, #00FFB0);
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: flex-start;
}

.user-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.button-container {
    position: absolute;
    left: 580px;
}

.add-button {
    background-color: #757575;
    color: rgba(0, 0, 0, 0.466);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    outline: none;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px; 
}

.add-button:hover {
    background-color: #494949;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search-container {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.search-input {
    border: none;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
}

.search-input::placeholder {
    color: #aaa;
}

.project-widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    overflow: hidden;
}

.project-widget-container-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.projects {
    display: flex;
    transition: transform 0.3s ease;
}
